body{
 margin: 0;
 padding: 0;
 background:greenyellow ;
}
header{
    width:100%;
    height:15vh;
    background-color: aquamarine;
}
footer{
    height: 5vh;
    width:100%;
    background-color: blanchedalmond;
}


